<!-- <html>
    <body>
        <h1>Login Succesfuly</h1>
    </body>
</html> -->
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>Document</title> -->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <title>Attachment Enrolment System</title>
</head>
<body class="hold-transition sidebar-mini layout-fixed">
    {% include 'kibu/mainNav.html' %}
    {% block content %}

    {% endblock %}

    <footer class="main-footer">
        <strong>Copyright &copy; 2021-{% now "Y" %} <a href="#">Amos kiprotich</a>.</strong>
        All rights reserved.
        <div class="float-right d-none d-sm-inline-block">
            <b>Version</b> 0.0.1
        </div>
    </footer>
</body>
</html>