<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login</title>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
</head>
<body>
	<div class="container-fluid">
		<div class="card">
			<div>
				<form method="POST" action="">
					{% csrf_token %}
					<div class="input-group mb-3">
						<div>
							<input type="text" name="username" placeholder="Username" class=" form-control">
						</div>
						<div>
							<input type="password" name="password" placeholder="password..." class=" form-control">
						</div>
						<div>
							<input class="btn btn-primary btn-block mb-4" type="submit" value="Login">
						</div>
					</div>
		        </form>
		    </div>
		</div>
		
	</div>
</body>
</html>